<!DOCTYPE html>
<html lang="PT-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <h1> Login</h1>
    <div id="cadastro">
        <form id="login">
            
            <label for="text">Login:</label>
            <input type="text" name="text" id="text" placeholder="Digite seu usuario ou seu email">
            <br>
            <br>
            <label type="password" for="password"> Senha:</label>
            <input type="password" name="password" placeholder="Digite sua senha">
        </form>
        <br>
        <div id="button">
            <button>Enviar</button>
        </div>
    </div>
    <div class="recuperar">
        <a href="#">Recuperar senha</a>
    </div>
</body>
</html>